[defaults]

#--- General Settings
forks          = 5
log_path = /var/log/ansible.log
module_name = command
executable = /bin/bash
ansible_managed = Ansible managed

#--- Files/Directory Settings
inventory       = /etc/ansible/hosts
library        = /usr/share/my_modules/
remote_tmp     = ~/.ansible/tmp
local_tmp      = ~/.ansible/tmp
roles_path    = /etc/ansible/roles

#--- Users Settings
remote_user = ansible
sudo_user      = root
ask_sudo_pass = no
ask_pass      = no

#---SSH Settings
remote_port    = 22
timeout = 10
host_keyt_checking = False
ssh_executable = /usr/bin/ssh
private_key_file = ~/.ssh/id_rsa

[privilege_scalation]

become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]

scp_if_ssh = smart
transfer_method = smart
retries = 3

